@font-face {
  src: url(../../font/Matchbook.otf);
  font-family: Matchbook;
}
@font-face {
  src: url(../../font/Amsterday.ttf);
  font-family: Amsterday;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e2f7ce;
}
.name {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 50vh;
}
.name span {
  font-family: "Matchbook";
  font-size: 28rem;
  color: #ff9000;
  animation: bounce 1s ease-in-out infinite;
}
.heart {
  position: absolute;
  top: -5rem;
  right: 0rem;
  animation: bounce 1s ease-in-out 1.1s infinite;
}
.job {
  position: absolute;
  font-size: 8.5rem;
  left: 0;
  top: 0;
  font-family: Amsterday;
}
.send {
  font-size: 2rem;
  cursor: pointer;
  background-color: #c3e2a4;
  padding: 1rem 4rem;
  border-radius: 5px;
}

.name span:nth-child(1) {
  animation-delay: 0.1s;
}
.name span:nth-child(2) {
  animation-delay: 0.2s;
}
.name span:nth-child(3) {
  animation-delay: 0.3s;
}
.name span:nth-child(4) {
  animation-delay: 0.4s;
}
.name span:nth-child(5) {
  animation-delay: 0.5s;
}
.name span:nth-child(6) {
  animation-delay: 0.6s;
}
.name span:nth-child(7) {
  animation-delay: 0.7s;
}
.name span:nth-child(8) {
  animation-delay: 0.8s;
}
.name span:nth-child(9) {
  animation-delay: 0.9s;
}
.name span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .name span {
    font-size: 12rem;
  }
  .name .heart {
    top: 0;
    right: -8rem;
    width: 10rem;
  }
  .name .job {
    font-size: 3rem;
    margin-top: 6rem;
    margin-left: -3rem;
  }
} ;
